# Auto detect text files and perform LF normalization
* text=auto
*.md text diff=markdown
*.sh text eol=lf
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/codecov.yml export-ignore
/docker export-ignore
/e2e-test.sh export-ignore
/ecs.php export-ignore
/fixtures export-ignore
/Makefile export-ignore
/phive.xml export-ignore
/phpunit.xml.dist export-ignore
/psalm-baseline.xml export-ignore
/psalm.xml.dist export-ignore
/tests export-ignore
/tools export-ignore
