* text=auto

/.github export-ignore
/docker export-ignore
/tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
codecov.yml export-ignore
ecs.php export-ignore
Makefile export-ignore
phpunit.xml.dist export-ignore
psalm-baseline.xml export-ignore
psalm.xml.dist export-ignore
