language: php

matrix:
  allow_failures:
    - php: nightly
  fast_finish: true
  include:
    - php: 7.3
      env:
        - DEPS=lowest
    - php: 7.3
      env:
        - DEPS=latest
    - php: 7.4
      env:
        - DEPS=lowest
    - php: 7.4
      env:
        - DEPS=latest
    - php: nightly
      env:
        - DEPS=lowest
        - COMPOSER_FLAGS="--ignore-platform-reqs"
    - php: nightly
      env:
        - DEPS=latest
        - COMPOSER_FLAGS="--ignore-platform-reqs"

install:
  - if [[ $DEPS == 'latest' ]]; then travis_retry composer update --no-interaction $COMPOSER_FLAGS ; fi
  - if [[ $DEPS == 'lowest' ]]; then travis_retry composer update --prefer-lowest --prefer-stable --no-interaction $COMPOSER_FLAGS ; fi

script:
- |
    ./vendor/bin/phpunit --coverage-text --coverage-clover="build/logs/clover.xml" --testsuite="Mockery Test Suite";

after_success:
  - composer require satooshi/php-coveralls
  - vendor/bin/coveralls -v
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover "build/logs/clover.xml"
  - make apidocs

notifications:
  email:
    - padraic.brady@gmail.com
    - dave@atstsolutions.co.uk

  irc: irc.freenode.org#mockery
deploy:
  overwrite: true
  provider: pages
  file_glob: true
  file: docs/api/*
  local_dir: docs/api
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
    php: '7.3'
    condition: $DEPS = latest
