<?xml version="1.0"?>
<psalm
    errorLevel="1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config https://getpsalm.org/schema/config"
    errorBaseline="psalm-baseline.xml"
    ensureArrayIntOffsetsExist="true"
    ensureArrayStringOffsetsExist="true"
    sealAllProperties="true"
    sealAllMethods="true"
    checkForThrowsDocblock="true"
    cacheDirectory=".cache/psalm"
    findUnusedBaselineEntry="true"
    findUnusedCode="true"
    findUnusedVariablesAndParams="true"
    findUnusedPsalmSuppress="true"
    phpVersion="7.3"
>
    <projectFiles>
        <directory name="library"/>
        <ignoreFiles>
            <directory name="tests"/>
            <file name="library/Mockery/Mock.php" />
            <directory name="fixtures"/>
            <directory name="tests/Fixture"/>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
<!--        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>-->
    </plugins>
</psalm>
