<?xml version="1.0"?>
<psalm
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config https://getpsalm.org/schema/config"
    allowNamedArgumentCalls="true"
    allowStringToStandInForClass="false"
    cacheDirectory="null"
    checkForThrowsDocblock="true"
    checkForThrowsInGlobalScope="true"
    disableSuppressAll="true"
    docblockPropertyTypesSealProperties="true"
    ensureArrayIntOffsetsExist="true"
    ensureArrayStringOffsetsExist="true"
    errorBaseline="psalm-baseline.xml"
    errorLevel="1"
    findUnusedBaselineEntry="true"
    findUnusedCode="true"
    findUnusedPsalmSuppress="true"
    findUnusedVariablesAndParams="true"
    ignoreInternalFunctionFalseReturn="false"
    ignoreInternalFunctionNullReturn="false"
    inferPropertyTypesFromConstructor="true"
    limitMethodComplexity="true"
    reportInfo="true"
    reportMixedIssues="true"
    restrictReturnTypes="true"
    sealAllMethods="true"
    sealAllProperties="true"
    useDocblockPropertyTypes="true"
    useDocblockTypes="true"
    usePhpDocMethodsWithoutMagicCall="true"
    usePhpDocPropertiesWithoutMagicCall="true"
>
    <projectFiles>
        <directory name="library"/>
        <ignoreFiles>
            <file name="library/Mockery/Mock.php" />
            <directory name="tests"/>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
</psalm>
