<phpunit bootstrap="./Bootstrap.php">
    <testsuite name="Starship Test Suite">
        <directory>./</directory>
    </testsuite>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"
            file="Mockery/Adapter/Phpunit/TestListener.php">
        </listener>
    </listeners>
</phpunit>
